/*styles for home content only*/
.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.sample-content{
    flex: 1;
}
.card-container md-card{
    margin: 5px;
}

.palette-contaier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.palette-contaier button {
  margin: 0.5em;
}

[md-fab] {
  margin: 0.5em;
  background-color: #000000;
}

md-card-title {
  display: flex;
  justify-content: center;
}
